@import '../../../../../../styles/constants/index.scss';
@import '../../../../../../styles/_mixins.scss';

.navbar {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  @media screen and (max-width: $deviceSizeMD) {
    display: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      .navbar__item-indicator {
        background-color: $white;
      }
    }
  }

  &__item-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $white;
    margin-right: 16px;
  }
}
