/**
 * Application initial colors
 */

$black: #000000;
$white: #ffffff;

$buttonBlue: #264699;

$linkHoverColor: #d32721;

$textPrimary: #ffffff;
$textSecondary: #5e6372;
$Mischka: #a7acbc;
$Astronaut: #3f4e76;

$GreyBg: #f6f6f6;
$GreyBorder: #d4d9de;

$gradient: linear-gradient(
  75deg,
  rgba(203, 0, 53, 1) 0%,
  rgba(224, 105, 0, 1) 100%
);
